.circle {
  border: 1.5px solid rgb(19, 153, 152);
  border-radius: 50%;
  padding: 0px 5px 2px 5px;
  font-size: 200%;
  font-weight: 700;
  color: rgb(19, 153, 152);
  background: white;
  cursor: pointer;
}
